.idea/
.imi
*.class

# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

**/.idea/
# Compiled class file
*.class

# Eclipse
.project
.classpath
.settings/

# Intellij
*.ipr
*.iml
*.iws
./.idea/

# Maven
target/

# Gradle
build
.gradle

# Log file
*.log

# out
**/out/

# BlueJ files
*.ctxt
.Src/target
**/exam/
**/examfinal/

## git fetch origin
## git reset --hard origin/master  回到远程仓库的位置

## git reflog  查看版本指针
## git reset --hard xxx   回到具体某个版本
## git revert 1234abcd        假设commit ID是1234abcd，撤销该commit的更改，并且add到暂存区的文件会本地删除，暂存区还是存在的，注意！！！！
